<% layout('layouts/boilerplate')%>

    <h1>Sesje dziecięce</h1>
    <form action="/dzieci" method="POST">
        <div>
            <label for="title">Tytul</label>
            <input type="text" id="title" name="kid[title]">
        </div>
        <div>
            <label for="image">Zdjecie</label>
            <input type="text" id="image" name="kid[image]">
        </div>
    <button>Dodaj</button>
    </form>
    <form action="/dzieci<%=kids._id%>?_method=DELETE" method="POST">
<button>Skasuj</button>
    </form>
    
        <% for (let kid of kids) {%>
       <div>
           <p><%=kid.title%></p>
           <img src="<%=kid.image%>" alt="" style="max-width: 200px;">
       </div>
        <% } %>
    </ul>
