<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesje dzieci</title>
</head>
<body>
    <h1>Sesje dziecięce</h1>
    <form action="/dzieci" method="POST">
        <div>
            <label for="title">Tytul</label>
            <input type="text" id="title" name="kid[title]">
        </div>
        <div>
            <label for="image">Zdjecie</label>
            <input type="text" id="image" name="kid[image]">
        </div>
    <button>Dodaj</button>
    </form>
    
        <% for (let kid of kids) {%>
       <div>
           <p><%=kid.title%></p>
           <img src="<%=kid.image%>" alt="" style="max-width: 200px;">
       </div>
        <% } %>
    </ul>
</body>
</html>